#----------------------------------------------------------------------------------
#FILL IN THESE DETAILS AND ALSO bot_authkey.env.json.example WHEN YOU SETUP THE BOT
#REMOVE THE .example AT THE END OF THE FILE NAME BEFORE RUNNING THE PROGRAM
#----------------------------------------------------------------------------------


BOT_TOKEN=BOT_TOKEN_HERE #REMOVED FOR SECURITY REASONS FROM THE PUBLIC RELEASE


#-------------------------------------------------------------
#MYSQL AND REDIS NOT ACTIVE RN, ***NO NEED TO FILL THIS OUT***
#-------------------------------------------------------------
MYSQL_HOST=SELF_EXPLANATORY
MYSQL_USER=SELF_EXPLANATORY
MYSQL_PASS=SELF_EXPLANATORY
MYSQL_DTBS=MYSQL DATABASE NAME
REDIS_URL=SELF_EXPLANATORY

#--------------------------------------------------------------
#STUFF BELOW THIS NEEDS TO BE FILLED IN FOR IT TO WORK PROPERLY
#--------------------------------------------------------------
TRELLO_OAUTH_TOKEN=SELF_EXPLANATORY
TRELLO_API_KEY=SELF_EXPLANATORY
POINTS_CHANNEL_ID=CLANLABS_POINTS_CHANNEL_ID_HERE
LOGS_CHANNEL_ID=SELF_EXPLANATORY
DS_CHANNEL_ID=SELF_EXPLANATORY
ARD_DISCORD_ID=SELF_EXPLANATORY
ACLOGS_CHANNEL_ID=ACTIVITY_LOGS_CHANNEL_HERE

BOTUSER_ROLE=SELF_EXPLANATORY
BOTADMIN_ROLE=SELF_EXPLANATORY
RIBCATCHER_USER_ID=WELL_ANYONE_WHO_HAS_TO_DO_TECH_SUPPORT_PUT_THEIR_DISCORD_ID_HERE #NOT BOTHERING TO CHANGE WHAT ITS CALLED

RANK_A=569963448197185576 #ASSISTANT RESEARCHER ROLE ID
RANK_R=569963472356638731 #RESEARCHER ROLE ID
RANK_SR=790864103224246312 #SENIOR RESEARCHER ROLE ID
RANK_I=569963536755982337 #INSTRUCTOR ROLE ID
RANK_S=569963536084893717 #SUPERVISOR ROLE ID

ARD_TRELLO_BOARD_ID=INSTRUCTOR_TRELLO_BOARD_ID_HERE #REMOVED FOR SECURITY REASONS FROM THE PUBLIC RELEASE
POINTS_CFIELD_ID=5db1c72bbffa2c4b576be7a8 #NOT A SECURITY RISK TO MAKE THIS PUBLIC
KOS_LIST_ID=5cebb6fc87d1f4072b46ac61 #NOT A SECURITY RISK TO MAKE THIS PUBLIC
RISK_LIST_ID=5d469888e8b1e0803ee081ff #NOT A SECURITY RISK TO MAKE THIS PUBLIC
SUB_BLACKLIST_ID=5fc607486ea89e4e4900f3e8 #NOT A SECURITY RISK TO MAKE THIS PUBLIC
DIV_BLACKLIST_ID=61577c6b66d7eb21adfa2d72 #NOT A SECURITY RISK TO MAKE THIS PUBLIC